/*
COLORES:
@negro-custom: #141618;
@blanco: #fff;
@texto-oscuro: #303133;
@texto-claro: #777;
@dorado: #b4975a;
@gris-claro: #eaeaea;

FUENTES:
@fuente-principal: 'Playfair Display', serif;
@fuente-secundaria: 'Poppins', serif; */

/* GENERALES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: #303133;
}

.container{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

img{
  vertical-align: top;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #303133;
  transition: all 2s ease;
}

a:hover{
  color: rgba(0, 0, 0, 0.35);
}

.img-modal{
  width: 90%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease;
}

.img-modal + i{
  position: absolute;
  top: 2%;
  right: 1%;
  color: #303133;
  font-size: 2.25rem;
  background-color: antiquewhite;
  display: inline-block;
  padding: 0.75rem 0.875rem;
  cursor: pointer;
}

/* ENCABEZADO */

header .menu-bar-pc{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #eaeaea;
}

header .menu-bar-pc .logo {
  max-width: 3.125rem
}

header .menu-bar-pc .menu-principal a {
  padding: 0 0.625rem;
}

header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem
}

header .menu-bar-movil{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #eaeaea;
}

header .menu-bar-movil .logo {
  max-width: 3.125rem
}

header .menu-bar-movil .burger-menu{
  cursor: pointer;
  font-size: 2.25rem;
}

header .menu-bar-movil .slideMenu{
  position: fixed;
  top: 5.875rem;
  right: -80%;
  background-color: antiquewhite;
  text-align: center;
  padding: 1.25rem 2.25rem;
  width: 80%;
  transition: all .3s ease;
}

header .menu-bar-movil .slideMenu.active{
  right: 0;
}

header .menu-bar-movil .slideMenu .top-redes{
  margin-bottom: 0.625rem;
}

header .menu-bar-movil .slideMenu .top-redes a{
  padding: 0 0.5625rem
}

header .menu-bar-movil .slideMenu .menu-principal a{
  display: block;
  padding: 0.625rem;
  border-top: 1px solid #777;
}

/* MAIN */

.main{
  margin-top: 5.875rem;
}

.main .portada{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .portada .col{
  width: 50%;
  background-color: #141618;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.main .portada .col .foto{
  background-size: cover;
  background-position: center;
  width: 50%;
}

.main .portada .col .foto.izq{
  background-image: url('../img/portada-1.jpg');
  background-position: left;
}

.main .portada .col .foto.der{
  background-image: url('../img/portada-4.jpg');
  opacity: 0.8;
}

.main .portada .col .foto .overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}

.main .portada .col .foto .overlay:hover{
  opacity: 1;
}

.main .portada .col .foto .overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.66rem;
}

.main .portada .col .texto{
  width: 50%;
  padding: 3.75rem;
}

.main .portada .col .texto h2{
  font-size: 1.8125rem;
  font-weight: 400;
  line-height: 2.6875rem;
  margin-bottom: 1.25rem;
}

.main .portada .col .texto p{
  font-size: 0.9375rem;
  line-height: 1.75rem;
}

.main .portada .col .foto-full{
  width: 100%;
  min-height: 15.25rem;
  background-size: cover;
  background-position: center;
}

.main .portada .col .foto-full .overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}

.main .portada .col .foto-full .overlay:hover{
  opacity: 1;
}

.main .portada .col .foto-full .overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.66rem;
}

.main .portada .col .foto-full.izq{
  background-image: url('../img/portada-2.jpg');
  opacity: 0.8;
}

.main .portada .col .foto-full.der{
  background-image: url('../img/portada-3.jpg');
}

/* NOSTROS */

.main .nosotros{
  padding: 5.6rem 0;
}

.main .nosotros .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main .nosotros .container .col.izq{
  width: 30%;
  border: 1px solid #eaeaea;
  border-left: none;
  display: flex;
  align-items: center;
  padding-right: 5%;

}

.main .nosotros .container .col.der{
  width: 70%;
  border: 1px solid #eaeaea;
  padding-left: 5%;
  border-right: none;
}

.main .nosotros .container .col.der .texto{
  font-size: 1.2rem;
  line-height: 1.75;
  color: #777;
}

.titulo-seccion h2{
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.6rem;
  margin-bottom: 1.125rem;
  font-style: italic;
  letter-spacing: -0.02em;
}

.titulo-seccion p{
  font-size: 1.25rem;
  color: #777;
}

.main .chef{
  background-color: rgb(36, 36, 36);
  padding: 5.52rem 0;
}

.main .chef .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main .chef .container .col{
  width: 50%;
}

.main .chef .container .col .titulo-seccion{
  padding: 3.125rem;
  padding-right: 0;
}

.main .chef .container .col .titulo-seccion h2{
  color: antiquewhite;
}

.main .chef .container .col .titulo-seccion p{
  color: rgba(255, 255, 255, 0.77);
  padding-bottom: 1.125rem;
  font: 1.125rem;
  line-height: 1.75;
}

.main .chef .container .col .titulo-seccion p:last-child{
  padding-bottom: 0;
}

.main .chef .container .col .slider{
  width: 300%;
  display: flex;
}

.main .chef .container .col .slider .slide{
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.main .chef .container .col .slider .slide.foto1{
  background-image: url('../img/chef-1.jpg');
}

.main .chef .container .col .slider .slide.foto2{
  background-image: url('../img/chef-2.jpg');
}

.main .chef .container .col .slider .slide.foto3{
  background-image: url('../img/chef-3.jpg');
}

.main .chef .container .col.izq{
  overflow: hidden;
  height: 100%;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
}

/* NUESTRO MENU */

.main .menu-platos{
  padding: 5.4rem 0;
}

.main .menu-platos .container .titulo-seccion h2{
  text-align: center;
}

.main .menu-platos .container .contenedor-menu{
  margin-top: 2.5rem;
}

.main .menu-platos .container .contenedor-menu .encabezado{
  font-weight: 600;
  font-family: 'Poppins', serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}

.main .menu-platos .container .contenedor-menu .encabezado li a{
  font-size: 0.75rem;
  padding: 0 1.5rem 1.2rem 1.5rem;
  display: block;
  cursor: pointer;
  transition: all .3s ease;
  border-bottom: 2px solid transparent;
}

.main .menu-platos .container .contenedor-menu .encabezado li a:hover{
  color: #b4975a;
}

.main .menu-platos .container .contenedor-menu .encabezado li.active a{
  color: #b4975a;
  border-bottom: 2px solid #b4975a;
}

.main .menu-platos .container .contenedor-menu .contenido{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #eaeaea;
  padding: 0 2.25rem;
}

.main .menu-platos .container .contenedor-menu .contenido>div{
    display: none;
    transition: all .3s ease;
}

.main .menu-platos .container .contenedor-menu .contenido .active{
    display: block;
}

.main .menu-platos .container .contenedor-menu .contenido .item{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2.25rem 0;
    border-bottom: 1px solid #eaeaea;
}

.main .menu-platos .container .contenedor-menu .contenido .item .col.izq{
    width: 70%;
}

.main .menu-platos .container .contenedor-menu .contenido .item .col.izq h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.625rem;
}

.main .menu-platos .container .contenedor-menu .contenido .item .col.izq p{
    font-size: 1rem;
    color: #777;
}

.main .menu-platos .container .contenedor-menu .contenido .item .col.der{
    width: 30%;
    text-align: center;
    font-size: 2.2rem;
}

.main .contacto .datos{
  padding: 5.5rem 0 11.8rem 0;
  position: relative;
  background-image: url('../img/contacto-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .contacto .datos .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.35);
  top: 0;
  z-index: 1;
}

.main .contacto .datos .container{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .contacto .datos .container .blurb{
  background-color: antiquewhite;
  border: 6px double #eaeaea;
  padding: 2.25rem;
  text-align: center;
  width: 25%;
}

.main .contacto .datos .container .blurb h3{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.7;
  margin-bottom: 1.25rem;
  border: 1px solid #eaeaea;
}

.main .contacto .datos .container .blurb p{
  font-size: 1rem;
  color: #777;
}

.main .contacto .formulario{
  position: relative;
  z-index: 3;
  background-color: antiquewhite;
  max-width: 40.625rem;
  margin: 0 auto;
  padding: 2.25rem;
  margin-top: -6.25rem;
  height: 90%;
}

.main .contacto .formulario .formulario_contacto .input-group{
  position: relative;
  margin-bottom: 2rem;
}

.main .contacto .formulario .formulario_contacto .input-group input[type="text"], input[type="email"], textarea{
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #303133;
  width: 100%;
  outline: none;
  padding: 0.9rem 0;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(141, 149, 75, 0.78);
  vertical-align: top;
}

.main .contacto .formulario .formulario_contacto .input-group input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
  border-bottom: 2px solid gold;
}

.main .contacto .formulario .formulario_contacto .input-group textarea{
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%;
}

.main .contacto .formulario .formulario_contacto .input-group label{
  color: #777;
  font-family: 'Poppins', serif;
}

.main .contacto .formulario .formulario_contacto .input-group label.label{
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
  transition: all .3s ease;
}

.main .contacto .formulario .formulario_contacto .input-group label.label.active{
  top: -0.75rem;
  margin-left: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #777;
}

.main .contacto .formulario .formulario_contacto .input-group .error{
  position: absolute;
  color: rgb(255,59,59);
  font-family: 'Poppins', serif;
  font-size: 0.875rem;
}

.main .contacto .formulario .formulario_contacto input[type="submit"]{
  font-family: 'Poppins', serif;
  background-color: darkgoldenrod;
  color: antiquewhite;
  border-radius: 1px;
  border: 2px solid antiquewhite;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 0.9rem;
  width: 20%;
  outline: none;
  transition: all .3s ease;
}

.main .contacto .formulario .formulario_contacto input[type="submit"]:hover{
  background-color: rgb(125, 135, 39);
}

/* PIE DE PAGINA */

footer{
  margin-top: 2.235rem;
  background-color: black;
  padding: 5.4rem 0;
  text-align: center;
  color: blanchedalmond;
}

.copyright{

}

footer .bottom-redes{
  margin-top: 2.25rem;
}

footer .bottom-redes a{
  padding: 0 0.5rem;
  color: blanchedalmond;
  transition: all .3s ease;
}

footer .bottom-redes a:hover{
  color: darkgoldenrod;
}

/* MEDIA QUERIES */

@media all and (max-width: 1500px) {
  .main .portada .col .texto{
    padding-left: 2.25rem;
    padding-right: 2.26rem;
  }
}

@media all and (max-width: 1199px){
  .main .portada .col .foto{
    display: none;
  }
  .main .portada .col .texto{
    width: 100%;
  }
}
@media all and (max-width: 980px){
  .main .nosotros .container .col.izq{
    width: 100%;
    border: none;
    border-bottom: 1px solid #777;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  .main .nosotros .container .col.der{
    width: 100%;
    text-align: justify;
    padding-left: 0;
  }
  .main .contacto .datos .container .blurb{
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    margin-bottom: 2.25rem;
  }
  .main .contacto .datos .container .blurb:last-child{
    margin-bottom: none;
  }
}

@media all and (max-width: 800px){
  header .menu-bar-pc{
    display: none;
  }
  header .menu-bar-movil{
    display: flex;
  }
  .main .portada .col{
    width: 100%;
  }
  .main .portada .col .foto-full.izq{
    display: none;
  }
  .main .portada .col .texto h2{
    text-align: center;
  }
  .main .portada .col .texto p{
    text-align: justify;
  }
  .main .chef .container .col{
    width: 100%;
  }
  .main .chef .container .col .titulo-seccion{
    padding-left: 0;
    padding-bottom: 0;
    text-align: center;
  }
}

@media all and (max-width: 480px){
  .titulo-seccion h2{
    font-size: 2rem;
  }
  .main .nosotros .container .col.der .texto p{
    font-size: 1rem;
  }
  .main .chef .container .col .titulo-seccion p{
    font-size: 1rem;
  }
  .main .menu-platos .container .contenedor-menu .contenido .item{
    flex-direction: column;
  }
  .main .menu-platos .container .contenedor-menu .contenido .item .col.izq{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .main .menu-platos .container .contenedor-menu .contenido .item .col.der{
    width: 100%;
  }
  .main .contacto .formulario .formulario_contacto input[type="submit"]{
    width: 100%;
  }
}
